:root {
    --background-color:#F0ECDD;
    --main-color:#84C52C;    /*  màu chủ đạo của web */
    --text-color: #7E592A;   /*  màu chữ */
    
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    /* display: block; */
    width: 98%;
    max-width: 100%;
    margin: 0 auto;
    /* display: inline; */
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.header_separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #e2d8c7;
    height: 16px;
    top: 10%;
    right: 83px;
    transform: translateY(-50%);
}

