.header{
    display:inline;
    font-size: 1.4rem;
    height: 110px;
    padding: 12px 0;
    margin: auto;
    width: 100%;
}

.header_navbar{
    height: 62px;
    padding: 10px;
    background: var(--background-color);
    align-items: center;
    display: flex;
}

.header_navbar-list{
    list-style: none;
    display: flex;    
    width: 100%;
    height: 100%;
}

.header_navbar-item {
    
    font-weight: 500;
    display: block;
    width: 150px;
}

.home img{
    width: 150px;
    position: absolute;
    top: -25px;
}

/* .header_navbar-login{
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
} */

.dangNhap{
}

.dangKy{

}


.navbar_btn{
    margin-right: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    height: 35px;
    width: 100px;
    border-radius: 4px;
    background-color: #84C52C;
    align-items: center;
    justify-content: center;
}

.navbar_btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.upload {
    background: #FF8401;
}


.icon {
    padding-right: 5px;
    /* color: white; */
}



.hotline{
    margin-left: auto;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hotline-list{
    color: #42311a;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
}
.hotline-list i{
    margin: 5px;
    margin-right: 5px;
    font-size: 2.5rem;
    align-self: center;
}
.hotline-list span{
    margin: 10px;
}
/* ===============SUBNAV================== */

.sub_navbar{
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 99;
    background: var(--background-color);
    /* box-shadow: 0px 5px 4px 0 rgb(0 0 0 / 15%); */
    
}

.sub_navbar-list{    
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    box-shadow: 2px 5px 4px rgb(0 0 0 / 15%);
    list-style: none;
    display: flex;    
    justify-content: space-between;
}

.sub_navbar-item {
    font-size: 1.4rem;
    font-weight: 500;
    width: 150px;
    cursor: pointer;
}


.sub_navbar-menu {
    display: flex;
    width: 200px;
    background-color: #8C6635;
    height: 50px;
    padding: 0;
    color: white;
    line-height: 50px;
}

.sub_navbar-menu i{
    margin: auto 10px;
    margin-right: 20px;
}
.sub_navbar-text{
    margin-right: auto;
    font-weight: bold;
}

.sub_navbar-search{
    height: 40px;
    display: flex;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 80px;
}


.search_input {    
    height: 40px;
    border: none;
    /* width: calc(100% - 35px); */
    font-size: 1.2rem;
    width: 265px;   
    line-height: 14px;
    outline: none;
    padding: 8px 8px 8px 13px;
}

.submit {
    border: 0;
    padding: 0;
}
.submit i {
    background-color: white;
    color: var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 15px;
    cursor: pointer;
}


.cart {
    text-decoration: none;
    display: flex;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 80px;
    cursor: pointer;
}

.cart i {
    font-size: 16px;
    padding: 4px;
}
 .cart p {
    padding: 4px;
 }

 .login{
    width: 50px;
}
.login::after{
    content: "";
    display: block;
    width: 100px;
    height: 20px;
    position: absolute;
    right: 7px;
    top: 33px;
}


.login-icon{
    color: #8C6635;
    font-size: 1.7rem;
    cursor: pointer;
}

.login-list{
    position: absolute;
    top: 50px;
    right: 35px;
    color: #71532c;
    list-style: none;
    background-color: white;
    width: 170px;
    border-top:3px solid var(--main-color);
    display: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) ;

}

.login-list::before{
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--main-color) transparent;
    position: absolute;
    right: 7px;
    top: -21px;
}

.login-item{
    color: #71532c;
    padding: 0 10px;
    text-decoration: none;
}

.login-item i {
    padding: 10px;
}


.login:hover .login-list{
    display: block;
}

.login-item:hover{
    /* transition: right linear .2s; */
    position: relative;
    right: -4px;
    color: var(--main-color);

}

/* 
element.style {
} */
/* .nav-top-menu {
    background: #f0ecdd;
}

.nav-ontop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 0px;
    height: 50px;
    background: #f0ecdd;
    z-index: 101;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1);
} */




.slider{
    height: 600px;
}

.slider_item{
    margin: auto;
}

.slider_item img{
    width: 100%;
    height: 100%;
    margin: auto;
}



.contaiter{
    height: 1000px;
    width: 100%;
}

.main{
    width: 80%;
    height: 800px;
    float: left;
}

.product{
    margin-bottom:10px ;
    margin-left: 10px;

}

.product-item{
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) ;
    transition: transform linear 0.1s;
    will-change: transform;
}

.product-item:hover{
    border: 1px solid var(--primary-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: translateY(-2px);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.05) ;
}



.product-item__img{
    /* border: 1px solid #ccc; */
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
}

.product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 10px 6px;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}

.product-item__rating {
    color: #D5D5D5;
    font-size: 0.7rem;
    margin-left: -1px 0 0 auto;

}

.product-item__star--gold{
    color:#FFCE3D ;
}

.product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}


.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 5px 0;
}

.product-item__price-old {
    height: 16px;
    margin-left: 50px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current{
    height: 16px;
    font-size: 1.65rem;
    color: red;
    margin-left: auto;
    padding-right: 10px;
}

.buy-btn{
    display: flex;
    justify-content: center;
}

.buy-btn button{
    background-color: var(--main-color);
    height: 30px;
    width: 80%;
    margin: 10px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.product-position{
    position: relative;
}

.quick-action {
    position: relative;
    right: -140px;
    top: -75%;
    width: 32px;
    overflow: hidden;
    /* display: none; */


    /* background: rgba(0,0,0,0.4); */
    /* -webkit-transition: margin-left 0.2s ease 0.2s;
    -moz-transition: margin-left 0.2s ease 0.2s;
    -ms-transition: margin-left 0.2s ease 0.2s;
    -o-transition: margin-left 0.2s ease 0.2s;
    transition: margin-left 0.2s ease 0.2s; */
    /* margin-left: 200px; */
    /* background-color: #84c52c; */
}

.product-position:hover .quick-action{
    display: block;
}

.product-position:hover .quick-action a.add_cart{
    margin-left: 0;
}

.product-position:hover .quick-action a.like{
    margin-left: 0;
}


.quick-action a{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 5px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.quick-action .add_cart{
    background: var(--main-color);
    transition: margin-left 0.2s ease 0.2s;
    margin-left: 200px;
    background-color: #84c52c;
}
.add_cart::before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f217";
    
}

.quick-action .like{
    background: #ff8401;
    transition: margin-left 0.4s ease 0.4s;
    margin-left: 200px;
    background: #ff8401;
}
.like::before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f004";    
    transition: margin-left 0.2s ease 0.2s;
    align-content: center;
}


.side_bar{
    float: right;
    width: 20%;
    height: 800px;
}
